.agency_hero_circle {
  width: 300px;
  height: 290px;
}

.agency_hero_circle {
  position: absolute;
  left: auto;
  top: 18%;
  right: 26%;
  bottom: auto;
  z-index: -100;
  width: 380px;
  height: 380px;
  border: 1px none #000;
  border-radius: 1000px;
  background-color: rgba(238, 213, 229, 0.45);
  transition: 0.1s;
}

